@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AppSono';
  src: url('/fonts/appSono_proportional.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AppSono';
  src: url('/fonts/appSono_proportional-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AppSono';
  src: url('/fonts/appSono_proportional-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}